<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
<%= render partial: "main_chat", locals: { room: @room } %>
  </div>
</div>

<%# <% @posts.each do |post| %>
  <%# <div class="post"> %>
    <%# <h2><%= post.title</h2> %>
    <%# <p><%= post.text</p> %>

    <!-- ここにクイズプレビューを追加する！ -->
    <%# <% if post.text.present? %>
      <%# <div class="quiz-preview"> %>
        <%# <h3>クイズプレビュー</h3> %>
        <%# <p><%= generate_quiz(post.text)</p> %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>
<%# <% end %>
  
<%# </div> %>
